/* Reset and base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(0, 140, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  /* margin-top: 10px; */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 10px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover {
  background-color: white;
  color: rgb(0, 140, 255);
}

/* Responsive font sizing for larger screens */
@media (min-width: 768px) {
  .nav-link {
    font-size: 18px;
    padding: 10px 15px;
  }
}


