/* Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* margin-left: 240px; Space for aside bar */
}

.main {
  background-color: #f44336;
  color: white;
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  border-radius: 8px;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .home-container {
    margin-left: 0;
    padding: 1rem;
  }

  .main {
    width: 100%;
    min-height: auto;
  }
} */
