*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  /* background-color: red; */
  height: 120px;
  width: 100vw;
  border: 1px solid black;
}

#header div{
  display: flex;
  justify-content: center;
  align-items: center;
}


.outlet{
  width: 73.5%;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}



.outlet .outlet1{
  width: 85%;
  margin-left: -18%;
  
}


#listofjournal{
   height: auto;
   width: 400px;
   border: 1px solid black;
   margin: 10px 50px;
   padding: 20px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   background-color: bisque;
}